* {
   outline: none !important;
}


.masthead
{
  position: fixed;
  top: 0px;
  
  box-shadow: 0px 0px 0px #777777;
  height: 100px;
  width: 20%;

  
}

.navbar-toggle1
{
  float: right;
  width: 80px;
  height: 80px;
  background-color: transparent;
}

.navbar-toggle1:hover
{
  background-color: white;
}

.navback
{
  background-image: url("/images/mastback.jpg");
  background-size: cover;

  box-shadow: 0px 0px 0px #777777;
  height: 100px;
  width: 100%;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 10% 50%; 

  border: none;
}

.SignupButton
{
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: none;

  color: #FFFFFF;

  border: 1px solid #FFFFFF;

  margin-top: 25px;
  
  height: 50px;
  line-height: 20px;
  
  padding-top: -5px;
}

.SignupButton:hover
{
  box-shadow: inset 0px 0px 120px #CCCCCC;
  
}

.LoginButton
{
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background-color: none;

  color: #FFFFFF;

  border: 1px solid #FFFFFF;

  margin-top: 25px;
  height: 50px;
  line-height: 20px;

  
  padding-top: -5px;
}

.LoginButton:hover
{
  box-shadow: inset 0px 0px 120px #CCCCCC;
  
}

.bodystyle
{
  /*background-image: url("/images/doodle.jpg") , linear-gradient(#000000, #d13531);
  background-size: 520px 590px;
  background-repeat: repeat;*/
  background: linear-gradient( rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85) ), url("/images/doodle.jpg") 10% repeat;
  background-size: 520px 590px;
}

.head
{
  position: fixed;
  
  top: 0px;
  box-shadow: 0px 0px 20px #777777;

  height: 100px;
  width: 100%;

  
  background-color: transparent;
}

.loader {
    position: fixed;
    border: none; /* Light grey */
    border-bottom: 32px solid #3498db; /* Blue */
    /*border-bottom: 16px double #770000;*/ /* Blue */
    border-radius: 100%;
    width: 420px;
    height: 420px;

    z-index: -1;
    
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;

    box-shadow: 0px 0px 5px #CCCCCC;

    background-color: white;
    animation: spin 2s linear infinite;
}

.loginloader {
    
    position: relative;
    border: none; /* Light grey */
    border-bottom: 2px solid #3498db; /* Blue */
    /*border-bottom: 16px double #770000;*/ /* Blue */
    border-radius: 100%;
    width:85px;
    padding-top: 85px;
    /*height: 100%;*/

    z-index: 1;
    
    margin: auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;

    box-shadow: 0px 0px 5px #CCCCCC;

    background-color: white;
    animation: spin 2s linear infinite;
}

.checkusernameinDBloader {
    
    position: relative;
    border: none; /* Light grey */
    border-bottom: 2px solid #3498db; /* Blue */
    /*border-bottom: 16px double #770000;*/ /* Blue */
    border-radius: 100%;
    width:55px;
    padding-top: 55px;
    /*height: 100%;*/

    z-index: 1;
    
    margin: auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;

    margin-top: -20px;

    box-shadow: 0px 0px 5px #CCCCCC;

    background-color: white;
    animation: spin 2s linear infinite;
}

.checkusernameinDBinnerloader {
    border-radius: 0%;
    width: 55px;
    position: relative;
    
    margin: auto;
    left: 0;
    right: 0;

    margin-top: -110px;

    border: 0px solid red;

    z-index: 50;
    
    background-color: none;
    
    
}

.checkemailinDBloader {
    
    position: relative;
    border: none; /* Light grey */
    border-bottom: 2px solid #3498db; /* Blue */
    /*border-bottom: 16px double #770000;*/ /* Blue */
    border-radius: 100%;
    width:55px;
    padding-top: 55px;
    /*height: 100%;*/

    z-index: 1;
    
    margin: auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;

    margin-top: -20px;

    
    box-shadow: 0px 0px 5px #CCCCCC;

    background-color: white;
    animation: spin 2s linear infinite;
}

.checkemailinDBinnerloader {
    border-radius: 0%;
    width: 55px;
    position: relative;
    
    margin: auto;
    left: 0;
    right: 0;

    margin-top: -110px;

    border: 0px solid red;

    z-index: 50;
    
    background-color: none;
    
    
}

.checkphoneinDBloader {
    
    position: relative;
    border: none; /* Light grey */
    border-bottom: 2px solid #3498db; /* Blue */
    /*border-bottom: 16px double #770000;*/ /* Blue */
    border-radius: 100%;
    width:55px;
    padding-top: 55px;
    /*height: 100%;*/

    z-index: 1;
    
    margin: auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;

    margin-top: -20px;

    box-shadow: 0px 0px 5px #CCCCCC;

    background-color: white;
    animation: spin 2s linear infinite;
}

.checkphoneinDBinnerloader {
    border-radius: 0%;
    width: 55px;
    position: relative;
    
    margin: auto;
    left: 0;
    right: 0;

    margin-top: -110px;

    border: 0px solid red;

    z-index: 50;
    
    background-color: none;
    
    
}

@keyframes spin1 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-moz-keyframes spin1 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin1 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.MouseBellyLabel
{
  border-radius: 10px; 
  background-color: #FFFFFF; 
  left: 130px;
  height: 6em; 
  line-height: 6em;
  position: absolute; 
  top: 10px; 
  width: 28%;
  margin-right: 20px; 
  padding: 10px;

  padding-top: 1.25em;
  
  text-align: center;

  border: 1px solid #770000;

  box-shadow: inset 0px 0px 8px #999999;
}

.Mouselabel
{
  font-family: 'Satisfy', cursive;
  font-size: 2em;

  position: relative;
  top: 0.3em;

  color: #99A706;

  font-weight: 100;
}

.Mouselabel::first-letter { 
    font-size: 2.5em;
    
}


.loginMouselabel
{
  font-family: 'Satisfy', cursive;
  font-size: 32px;

  position: relative;
  top: 0.3em;

  margin-bottom: -20px;

  color: #99A706;

  font-weight: 100;
}

.loginMouselabel::first-letter { 
    font-size: 2.5em;
    
}

.loginBellylabel
{
  font-family: 'Satisfy', cursive;
  font-size: 32px;

  margin-top: -10px;

  position: relative;
  top: 0.3em;

  color: #770000;

  font-weight: 100;
}

.loginBellylabel::first-letter { 
    font-size: 2.5em;
    
}

.signupMouselabel
{
  font-family: 'Satisfy', cursive;
  font-size: 32px;

  position: relative;
  top: 0.3em;

  margin-bottom: -20px;

  color: #99A706;

  font-weight: 100;
}

.signupMouselabel::first-letter { 
    font-size: 2.5em;
    
}

.signupBellylabel
{
  font-family: 'Satisfy', cursive;
  font-size: 32px;

  margin-top: -10px;

  position: relative;
  top: 0.3em;

  color: #770000;

  font-weight: 100;
}

.signupBellylabel::first-letter { 
    font-size: 2.5em;
    
}

.Bellylabel
{
  font-family: 'Satisfy', cursive;
  font-size: 2em;

  position: relative;
  top: 0.3em;

  color: rgb(128,0,0);


  font-weight: 100;
}

.Bellylabel::first-letter { 
    font-size: 2.5em;
    
}

.pageleft
{
  position: fixed;
  width: 30px;
  height: 100%;

  background-size: 520px 590px;
  background-repeat: repeat;
  background-image: url("/images/doodle5.jpg") , linear-gradient(#000000, #d13531);
  top: 0px;
  z-index: -1;

  box-shadow: inset 0px 0px 10px #777777;
}

.pageright
{
  position: fixed;
  width: 30px;
  height: 100%;

  right: 0;

  background-size: 520px 590px;
  background-repeat: repeat;
  background-image: url("/images/doodle5.jpg") , linear-gradient(#000000, #d13531);
  top: 0px;
  z-index: -1;

  box-shadow: inset 0px 0px 10px #777777;
}

.innerloginloader {
    border-radius: 0%;
    width: 85px;
    position: relative;
    

    margin: auto;
    left: 0;
    right: 0;

    margin-top: -100px;

    border: 0px solid red;

    z-index: 50;
    
    background-color: none;
    
    
}

.innerloader {
    border-radius: 100%;
    width: 420px;
    height: 420px;

    line-height: 420px;

    font-size: 50px;

    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
    
    background-color: none;
    
    animation: spin 0s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    background-image: url('/images/mastback.jpg');background-size: cover;box-shadow: 0px 0px 0px #777777;
    min-height: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative; 
    
  }
  
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .Mouselabel
  {
    top:-2vw;
    left:-2vw;
    font-size: 1em;
  }

  .Bellylabel
  {
    font-size: 1em;
    left: 0vw;
    top: 0vw;
  }
}

.select-menu
{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 5px;
    outline: 1px solid #333333;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
   
}



/**/
/* BASIC STYLINGS
============================================================================= */
pre                             { margin-bottom:20px; }

/* form styling */
#form-container                { background:#FFFFFF; margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { background:none; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#000;  display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { cursor: pointer; color: #000000; background:#FFFFFF; border: 1px solid white; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background:#FFC706; color: black; }

/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
    
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
  -moz-animation:slideOutLeft 0.5s both ease;
  animation:slideOutLeft 0.5s both ease;   
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to    { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
  to    { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(200%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(200%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(200%); }
  to    { -webkit-transform: translateX(0); }
}