<div class="row" style="margin: auto; width: 100%;">
<div class="" style="margin: auto; width: 100%; border: 0px solid red;">

  <div id="form-container">
  
      <div class="page-header text-center">
          <!-- <h2 style="">as a</h2> -->
          <h2 style="">Home Chef</h2>
          
          <br>
          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->

          <div id="signupErrorModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content" style="text-align: center; margin-top: 70px;">
			      <div class="modal-body">
			      	<label class="signupMouselabel" style="">Mouse</label>
					<label class="signupBellylabel" style="">Belly</label>
					<br>
					<br>
			        <p ng-if="Part1Errors" class="alert alert-danger" style="font-size: 32px; margin: auto; width: 80%;">Please fill in the data for Part One correctly.</p>
			        <br>

			        <p ng-if="!Part1Errors && Part2Errors" class="alert alert-danger" style="font-size: 32px; margin: auto; width: 80%;">Please fill in the data for Part Two correctly.</p>
			        <br>

			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>

			<div id="termsModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content" style="text-align: center; margin-top: 70px;">
			      <div class="modal-body">
			      	<label class="signupMouselabel" style="">Mouse</label>
					<label class="signupBellylabel" style="">Belly</label>
					<br>
					<br>


					<div class="container" style="width: 80%; margin: auto; text-align: center;">

						<div class="row">

							<div class="col-lg-2">
								<input type="checkbox">
							</div>

							<div class="col-lg-10" style="text-align: left;">
								I agree to the usage listed under the Terms & Conditions and the Privacy Policy as listed down by Mouse Belly
							</div>

						</div>
						

					</div>			        
					 
					<br>
					<br>

					<div class="container" style="width: 80%; margin: auto; text-align: center;">

						<button class="btn btn-link">Terms & Conditions</button>
						<button class="btn btn-link">Privacy Policy</button>

					</div>

					<br>
					<br>

					<div class="container" style="width: 80%; margin: auto;text-align: center;">

						<button class="btn btn-success">Sign Up</button>

					</div>					

					
					
			      </div>
			      <!-- <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div> -->
			    </div>

			  </div>
			</div>

          <div id="status-buttons" class="text-center">
          		<!-- eat-click-if="ShowPart1Errors()" -->

              <a eat-click-if="Part1Filled == true && ShowPart2Errors()" ui-sref-active="active" ui-sref=".profile"><span>1</span> Profile</a>
              <a eat-click-if="ShowPart1Errors()" ui-sref-active="active" ui-sref=".interests" ng-click="LoadPart2()" ><span>2</span> Address</a>
              <a eat-click-if="ShowPart1Errors() || ShowPart2Errors()" ui-sref-active="active" ui-sref=".payment"><span>3</span> Picture</a>
          </div>
      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form">
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view ></div>
      </form>
  
  </div>
  
  <!-- show our formData as it is being typed -->
  <!-- <pre>
    {{ formData }}
  </pre> -->

</div>
</div>

